* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* color:#fff; */
}

body {
  text-align: center;
}

.home {
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(img/bg-img.jpg);
	background-size: 100% 100%;
  	background-position: center center;
  	background-repeat: no-repeat;
 	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	position: relative;
}
.typewrite {
  color: goldenrod;
}

.mid h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}


@media screen and (min-width:443px){
  #author{
    font-size: 25px;
  }
  #about{
    font-size: 20px;
  }
}

@media screen and (min-width:580px){
  #author{
    font-size: 50px;
  }
  #about{
    font-size: 20px;
  }
  .px-2 {
    margin:5px;
  }
  .p-1 {
    margin:2px;
  }
}


/* ABOUT PAGE */

#profile {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

#about {
  font-size: 15px;
}



/*SITE FOOTER*/
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}



.site-footer .social-icons
{
  text-align:center;
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px;
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0;
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center;
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.viber:hover
{
  background-color:#7C529E
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.gmail:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.breadcrumb {
	text-align: center !important;
}